/* src/pages/PrivatePages/PrivatePages.css */

/* Main structure */
.account-management-page, .private-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #0d0d0d; /* Dark background */
    color: #f5f5f7;
}

.content {
    flex-grow: 1;
    padding: 50px;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #f5f5f7;
    margin-bottom: 30px;
    text-align: center;
}

/* Query Box */
.queries {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.query-box {
    background-color: #fff; /* White box */
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
    overflow: hidden;
}

/* Button styling */
.button-35 {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem 1.2rem;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.2s;
    border: 0;
    user-select: none;
}

.button-35:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.arrow {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

/* Query Body (Visible on Dropdown) */
.query-body {
    background-color: #ffffff; /* White dropdown background */
    padding: 20px;
    color: #0d0d0d; /* Black text */
    font-size: 1rem;
}

.query-body ul {
    list-style: disc;
    padding-left: 20px;
}

.query-body li {
    margin-bottom: 10px;
}
